
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/*
!/var/data.db
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
